body {
    background-color: #cef6dd;
    font-family: fantasy;
    padding-bottom: 60px;
    text-align: center;
}

footer {
    background-color: rgb(32, 222, 64);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    color: #d1d8d1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: #01e82b;
    color: #253a1d;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2eb430;
}

p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #0e7f48;
}

li {
    list-style-type: none;
    color: #0e7f48;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
